<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit Page</title>
        <style>
            html{
                background: beige;
                padding: 20px;
            }
            #id_entryName{
                display: block;
                width: 300px;
                margin-bottom: 40px;
                height: 30px;
            }
            #id_entryContent{
                display: block;
                width: 900px;
                height: 250px;
                margin-bottom: 40px;
            }
           

        </style>
    </head>
    <body>
        <h1>Edit Page</h1>
        <form action="{% url 'editEntry' editEntryName=enName %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Save Page">
        </form>
    </body>
</html>